.header{
    background: url(../img/destaque.jpeg) no-repeat;
    background-size: cover;
    padding-top: 40px; 

}

.header .main-menu{
    text-align: center;
    padding-top: 60px;

}

.header .main-menu .menu-item{
 display: inline-block;
 margin: 0 2px 32px 0;
}

.header .main-menu .menu-item a{
    color: white;
    padding: 16px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.5s;
}

.header .main-menu .menu-item a:hover{
    background-color: #48A3A6;
}

.header .jumbotron{
    padding: 0 0 44px 0; 
    text-transform: uppercase;
    text-align: center;
}

.header .panel-main{
    color: white;
    text-shadow: 4px 4px 10px black;
}

.header .panel-main .title {

    font-size: 48px;
  }

  .header .jumbotron .title{
      font-size: 3em;
  }
  
  .header .panel-main .subtitle {
  
    color: #64ff64;
    font-size: 2.6em;
    margin-top: 10px;
  }

  /* código anterior omitido */

.header .jumbotron .button {
    display: inline-block;
    padding: 25px 50px;
    margin: 5px;
    background-color: #48A3A6;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  .header .panel-subscribe{
      margin-top: 28px;
  }

  @media(min-widht: 650px){
      
      .header .jumbotron{
          font-size: 28px;
      }
  }